body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: Gray;
}

h1 {
  font-family: 'Playfair Display', serif;
  color: gray;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  padding: 10px;
  margin: 10px;
}

.jumbotron {
  text-align: center;
}

.lead {
  padding-top: 10px;
}

.description{
  margin: 10px;
  padding: 10px;
  white-space: pre-wrap;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid whitesmoke;
}

.hour {
  border-right: 1px solid whitesmoke;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.past {
  background-color: gray;
  color: white;
}

.present {
  background-color: Red;
  color: white;
}

.future {
  background-color: green;
}

.saveBtn {
  background-color: teal;
  border: none;
  color: #ffffff; 
}

.saveBtn:hover {
  background-color: teal;
}

